{% extends 'aquarium/base.html' %}

{% block styles %}
{{super()}}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock styles %}

{% block page_content %}
<div class="container-fluid pt-3">
    <div class="row justify-content-md-left">
        <div class="col-sm-2">
            <div class="form-group">
                <label>Select measure</label>
                <select class="form-control" id="measureSelect">
                    <option value="1">Temperature</option>
                    <option value="2">Water level</option>
                    <option value="3">Ph</option>
                    <option value="4">Humidity</option>
                </select>
            </div>
            <div class="form-group" id="sensorSelect" style="display:none;">
                <label>Select sensor</label>
                <select multiple class="form-control" id="sensorSelectForm">
                </select>
            </div>
        </div>
        <div class="col-sm-10" >
            <canvas id="canvas"></canvas>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('aquarium.static', filename='chart.js') }}"></script>
{% endblock page_content %}
